table,
th,
td,
caption {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

th[scope="row"] {
  font-weight: normal;
  background-color: #d3d3d3;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
tbody tr:nth-child(even) {
  background-color: #6cf08f;
}
tbody tr:nth-child(odd) {
  background-color: #a1d9e6;
}
tfoot {
  font-style: italic;
}
caption {
  border-bottom: none;
}
